/*很重要 讓圖片自適應的密技*/

img {
	max-width: 100%; 
    height: auto;
}
body {
	font-family: ‘cwTeXKai’, serif;
	line-height: 2;
}

.h3-1 {
	height: 60px;
    line-height: 60px;
    font-size: 2em;
}

.card-text {
	font-family: ‘cwTeXKai’, serif;
}
footer {
	height: 50px;
	line-height: 50px;
	background-color: #000;
}
